<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://i.pinimg.com/originals/6e/4a/d9/6e4ad92e8f4ea6c849a6d8232b46d612.png" alt="SecurityMobile-logo">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Security Mobile App</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="user.email" placeholder="nom utilisateur"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="user.password" placeholder="mot de passe" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button expand ="block"(click)="login()">Se Connecter</ion-button>
      <ion-button expand="block" color="secondary" (click)="register()">S'enregistrer</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
